body {
  margin: 0;
}

.parallax-container {
  width: 100%;
  height: 100vh;
  perspective: 8px;
  perspective-origin: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: 0 50%;
}

.image_background {
  height: auto;
  width: 100%;
  transform: translateZ(0px) scale(1);
  transform-origin: 0 50%;
}

.image_background img {
  width: 100%;
}

.image_middle {
  height: 100%;
  width: 100%;
  transform: translateZ(5px) scale(0.375);
  transform-origin: 50%;
}

.image_foreground {
  transform: translateZ(2px) scale(0.75);
  transform-origin: top;
}

.image_foreground img {
  width: 100%;
}

.card img {
  position: absolute;
  transform: rotate(-20deg);
  width: 80px;
  height: 100px;
}

.one img {
  width: 130px;
  height: 130px;
  left: 20%;
  top: 150px;
}

.two img {
  width: 130px;
  height: 130px;
  right: 20%;
  top: 600px;
}

.three img {
  width: 130px;
  height: 130px;
  right: 20%;
  bottom: -800px;
}

.four img {
  width: 130px;
  height: 130px;
  left: 10%;
  top: 800px;
}

@media (max-width: 575.98px) {
  .image_foreground {
    transform-origin: center;
    top: 100px;
  }

  .image_background img {
    width: 100vh;
  }

  .one img {
    width: 50px;
    height: 50px;
    left: 20%;
    top: 150px;
  }

  .two img {
    width: 50px;
    height: 50px;
    right: 5%;
    top: 200px;
  }

  .three img {
    width: 50px;
    height: 30px;
    right: 20%;
    bottom: 100px;
  }

  .four img {
    width: 60px;
    height: 60px;
    left: 10%;
    top: 600px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .image_background img {
    width: 100vh;
  }

  .image_foreground {
    transform-origin: center;
    top: 100px;
  }

  .one img {
    left: 10%;
    top: 200px;
  }

  .two img {
    right: 10%;
    top: 500px;
  }

  .three img {
    width: 100px;
    height: 90px;
    right: 20%;
    bottom: -200px;
  }

  .four img {
    top: 1200px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .image_foreground {
    top: 5px;
  }

  .one img {
    left: 10%;
    top: 200px;
  }

  .two img {
    right: 10%;
    top: 500px;
  }

  .three img {
    width: 100px;
    height: 90px;
    bottom: -300px;
  }

  .four img {
    top: 1000px;
  }
}
