body {
  background: rgba(225, 2, 156, 0.05);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin: 0;
  overflow: hidden;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Pseudo-classes */
a:link {
  color: hotpink;
}

a:visited {
  color: tomato;
}

a:hover {
  background-color: LightSalmon;
}

p:not(.maravilla) {
  color: LightCoral;
}

.container div:nth-child(1) {
  color: aqua;
}

h2:active {
  color: aquamarine;
}

.focus:focus {
  background: #d1f2eb;
  color: coral;
  border: none;
}

.disabled:disabled {
  background: #daf7a6;
}
