/* pseudo-elements */
.pseudo-elements::before {
  content: "👀 ";
}

.pseudo-elements::after {
  content: " 😄";
}

@media (max-width: 575.98px) {
  .pseudo-elements {
    margin: 40% 35% 20% 35%;
  }
}
