.shadow {
  background: lightgrey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle {
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle:hover {
  transform: translate(-20px, 20px);
}
