.square {
  background: #a80077;
  background: -webkit-linear-gradient(to right, #66ff00, #a80077);
  background: linear-gradient(to right, #66ff00, #a80077);
  border-radius: 20%;
  width: 100px;
  height: 100px;
}

.square:hover {
  transform: matrix(1, -0.2, 1, 1, 4, 2);
}

@media (max-width: 575.98px) {
  .square {
    margin: 40% 35% 20% 35%;
  }
}
