body {
  background: rgba(225, 2, 156, 0.05);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin: 0;
  overflow: hidden;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background: papayawhip;
  width: 400px;
  height: 100px;
  justify-content: space-around;
  margin: 30px;
}

.container:hover .box {
  transform: scale(1.2);
}

.box {
  width: 100px;
  height: 100px;
}

.box1 {
  background: lightcoral;
  transition: transform 500ms;
}

.box2 {
  background: salmon;
  transition: transform 1s;
}

.box3 {
  background: darksalmon;
  transition: transform 1.5s;
}
