.container-circle:hover .circle {
  transform: translateX(200px);
}

.circle {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.one {
  background: hotpink;
  transition: transform 1s linear;
  transition-delay: 0.5s;
}

.two {
  background: skyblue;
  transition: transform 1s ease;
  transition-delay: 1s;
}

.three {
  background: royalblue;
  transition: transform 1.5s ease-in;
  transition-delay: 1.5s;
}

.four {
  background: teal;
  transition: transform 2s ease-out;
  transition-delay: 2s;
}

.five {
  background: sienna;
  transition: transform 1s ease-in-out;
  transition-delay: 2.5s;
}

.six {
  background: tomato;
  transition: transform 1s cubic-bezier(0.51, 0.72, 0.91, 0.26);
  transition-delay: 2.8s;
}

@media (max-width: 575.98px) {
  .container-circle {
    margin: 30% 25% 5% 30%;
  }
  button {
    width: 90px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-main {
    margin-top: 12%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-main {
    margin-top: 12%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-main {
    margin-top: 12%;
  }
}
