.square {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  border-radius: 20%;
  width: 100px;
  height: 100px;
  transform-origin: bottom top;
}

.square:hover {
  transform: rotate(20deg);
}

@media (max-width: 575.98px) {
  .square {
    margin: 40% 35% 20% 35%;
  }
}
