.circle {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.circle:hover {
  transform: scale(0.8);
}

.square:hover {
  transform: skew(20deg);
}

@media (max-width: 575.98px) {
  .circle {
    margin: 40% 35% 20% 35%;
  }
}
