div {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);

  border-radius: 20%;
  width: 100px;
  height: 100px;
  transform-origin: bottom top;
}

div:hover {
  transform: rotate(20deg);
}
