.square {
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);

  border-radius: 20%;
  width: 100px;
  height: 100px;
}

.square:hover {
  transform: rotate(20deg);
}

.square:hover {
  transform: skew(20deg);
}

@media (max-width: 575.98px) {
  .square {
    margin: 40% 35% 20% 35%;
  }
}
