.square {
  background: #f7971e;
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e);
  background: linear-gradient(to right, #ffd200, #f7971e);

  border-radius: 20%;
  width: 100px;
  height: 100px;
}

.square:hover {
  transform: skew(20deg);
}
