.circle {
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);

  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 1.5s linear;
}

.circle:hover {
  transition: transform 1s linear;
  transform: translateY(-200px);
}

@media (max-width: 575.98px) {
  .circle {
    margin: 70% 30% 0 30%;
  }
}
