div {
  background: hotpink;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 1.5s linear;
}

div:hover {
  transition: transform 1s linear;
  transform: translateX(200px);
}
