.content {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.circle:hover .item {
  transform: translateY(-10px);
  background: hotpink;
}

.item {
  background: tomato;
}

@media (max-width: 575.98px) {
  .circle {
    margin: 40% 35% 30% 35%;
  }
}
