body {
  background: rgba(225, 2, 156, 0.05);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin: 0;
  overflow: hidden;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.container:hover .item {
  transform: translateY(-10px);
  background: hotpink;
}

.item {
  background: tomato;
}
