ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  max-width: 100px;
  justify-content: space-around;
  margin: 20px;
  font-size: 16px;
}

.nav li {
  padding: 6px;
  background: tomato;
}

.nav li:hover {
  background: #bbb3b3;
}

.nav li ul {
  display: block;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  transition-delay: 300ms;
}

.nav li ul li {
  position: relative;
}

.nav li ul li {
  right: -5px;
}

.nav li:hover > ul {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 300ms;
}

@media (max-width: 575.98px) {
  .nav {
    margin: 30% 30% 65% 15%;
  }
}
