button {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  width: 100px;
  height: 30px;
  outline: none;
  border-radius: 10px;
  border: 0;
}

.better {
  will-change: transform;
  transition: transform 500ms;
}

.better:hover {
  transform: translateY(5px);
}

.worst {
  will-change: margin-top;
  transition: margin-top 500ms;
}

.worst:hover {
  margin-top: 5px;
}

@media (max-width: 575.98px) {
  .container-button {
    margin: 40% 15% 30% 25%;
  }
  button {
    width: 90px;
  }
}
