body {
  background: rgba(225, 2, 156, 0.05);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin: 0;
  overflow: hidden;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: hotpink;
  width: 100px;
  height: 30px;
  outline: none;
  border-radius: 10px;
  border: 0;
}

.better {
  will-change: transform;
  transition: transform 500ms;
}

.better:hover {
  transform: translateY(5px);
}

.worst {
  will-change: margin-top;
  transition: margin-top 500ms;
}

.worst:hover {
  margin-top: 5px;
}
